---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const players = await getCollection('players');
---

<Layout title="Jugadores Real Murcia temporada 24/25">
	<main>
		<h1 class="text-5xl text-white text-center font-extrabold">
			Jugadores Real Murcia <span class="text-gradient block">24/25</span>
		</h1>
	</main>

	<section aria-label="Jugadores del Real Murcia para la temporada 24/25">
		<div class="px-4 mx-auto max-w-screen-xl mt-12">
			<div class="grid gap-6 md:grid-cols-2">
				{
					players.map(player => {
						const { slug, data } = player;
						const {
							name,
							position,
							img,
							minutesplayed,
							shortbio,
							transfermarket,
						} = data;

						return (
							<article class="flex bg-white rounded-2xl pt-4 pr-4">
								<a
									href={`/jugador/${slug}`}
									class="mb-2 xl:mb-0 transition hover:scale-100"
								>
									<img
										transition:name={`img-${slug}`}
										src={`/${img}`}
										alt={name}
										class="w-full"
									/>
								</a>
								<div class="flex flex-col justify-center">
									<h2 class="mb-2 text-2xl font-bold leading-tight text-black">
										{name}
									</h2>
									<p class="mb-4 text-gray-600 max-w-sm">
										{shortbio}
									</p>
									<span class="text-md bg-red-500 rounded-2xl px-2 py-1 w-fit">
										{position}
									</span>
								</div>
							</article>
						);
					})
				}
			</div>
		</div>
	</section>
</Layout>
